<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>
  <title>MadeInNY</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body>

<%= render 'navbar' %>

<%= yield %>

<div style="margin-top:80px; margin-left:50px;">
  <p class="text-muted credit">Created by <a href="mailto:christinetcoulter@gmail.com?Subject=SolarEyes">Christine Coulter</a> and <a href="mailto:nicklombardi@gmail.com?Subject=SolarEyes">Nick Lombardi</a></p>
</div>

</body>
</html>
